:root {
	// Typography
	--main-ff: "Roboto", sans-serif;
	--second-ff: "Roboto", sans-serif;

	// colors
	--color-dark: #333;
	--color-bg: #fff;
	--color-white: #fff;
}

$breakpoint-xxs: 480px;
$breakpoint-xs: 575px;
$breakpoint-sm: 767px;
$breakpoint-md: 991px;
$breakpoint-lg: 1199px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1680px;
