*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	line-height: 1.2;
}

body {
	color: var(--color-dark);
	font-family: var(--main-ff);
	background-color: var(--color-white);
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	font-family: var(--second-ff);
}

.list-rest {
	padding: 0;
	margin: 0;
	list-style: none;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

.site-container {
	width: 100%;
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 15px;
}

.page-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow: hidden;
}

.page-main {
	flex-grow: 1;
}
